body {
    background-color: #181818;
}

.main_card {
    margin: 100px auto;
    max-width: 500px;
    background-color: #202020;
    -webkit-box-shadow: 2px 3px 19px 2px rgba(0, 0, 0, 1);
    -moz-box-shadow: 2px 3px 19px 2px rgba(0, 0, 0, 1);
    box-shadow: 2px 3px 19px 2px rgba(0, 0, 0, 1);
    border-radius: 10px;
    padding: 50px;
}
.profile_card {
    text-align: center;
}
.img_card {
    margin-top: 30px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid blue;
}
.profile_name {
    margin-top: 15px;
    font-weight: 400;
    font-size: 31px;
    color: #ffffff;
}
.inp_info_card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
    margin: 0 auto;
    margin-top: 20px;
}
.inp_info {
    padding: 10px;
    background-color: #202020;
    border: none;
    border-bottom: 1px solid #3f3f3f;
    outline: none;
    flex: 1;
}
.inp_info:focus {
    border-bottom: 1px solid #107eff;
}
.inp_info:disabled {
    font-size: 20px;
}
.inp_info:disabled::placeholder {
    color: white;
}
.avatar_card {
    width: 100%;
    text-align: end;
    color: #107eff;
    cursor: pointer;
}
.avatar_card:hover {
    text-decoration: underline;
}
.but_card {
    margin: auto;
    padding: 10px;
    background-color: #3137c9;
    width: 140px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
    overflow: hidden;
    transition: 0.5s;
    letter-spacing: 4px;
    /* border: 1px solid #8f7cec;  */
}
.but_card:hover {
    background: #8f7cec;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #8f7cec, 0 0 25px #8f7cec, 0 0 50px #8f7cec, 0 0 100px #8f7cec;
}
.but_cardx {
    margin: auto;
    padding: 10px;
    background-color: #3137c9;
    width: 140px;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    transition: 0.5s;
    letter-spacing: 4px;
}
.but_cardx:hover {
    background: #8f7cec;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #8f7cec, 0 0 25px #8f7cec, 0 0 50px #8f7cec, 0 0 100px #8f7cec;
}

.icon {
    width: 30px;
    position: absolute;
    cursor: pointer;
    border: 2px solid #3137c9;
    border-radius: 30px;
    margin-top: 10px;
}
.waviy {
    margin-top: 25px;
    font-size: 40px;
    color: #fff;
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
}
.waviy span {
    position: relative;
    display: inline-block;
    font-size: 40px;
    color: #fff;
    animation: waviy 1.5s;
    animation-delay: calc(0.1s * var(--i));
}
@keyframes waviy {
    0%,
    40%,
    100% {
        transform: translateY(0);
    }

    20% {
        transform: translateY(-20px);
    }
}
