.header {
  max-width: 100%;
  background-color: #0d0d0d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
 img{
  padding-left: 40px;
 }
  button{
    text-transform: uppercase;
    border: none;
    background-color: transparent;
    color: white;
    padding: 13px 23px;
    transition:  background-color 0.30s;
    cursor: pointer;
    border-radius: 2px;

    &:hover {
      background-color: #3137c9;
    }
  }

  
}
